<h1>Добавление и удаление меток на Яндекс Картах</h1>
<div class="container">
  <ya-map [center]="mapCenter">
    <ya-clusterer>
      <ya-placemark *ngFor="let placemark of placemarks" [geometry]="placemark.geometry" [properties]="placemark.properties"
      [options]="placemark.options"></ya-placemark>
    </ya-clusterer>
  </ya-map>
  <div class="action-form" [formGroup]="profileForm">
    <form action="">
      <h2>
        Управление метками
      </h2>
      <label for="pinLatitude">Введите широту</label>
      <input id="pinLatitude" type="text" placeholder="55.777044" formControlName="pinLatitude">

      <label for="pinLongitude">Введите долготу</label>
      <input id="pinLongitude" type="text" placeholder="37.555554" formControlName="pinLongitude">

      <label for="pinSortDescription">Введите краткое описание метки, появляющееся при наведении</label>
      <input id="pinSortDescription" placeholder="Краткое описание метки" formControlName="pinSortDescription">
      
      <label for="">Введите описание метки</label>
      <textarea id="pinDescription" placeholder="Описание метки" rows="10" formControlName="pinDescription"></textarea>
      
      <div class="action-form__buttons">
        <button (click)="addPlacemark()">Добавить метку</button>
        <button (click)="deletePlacemark()">Убрать метку</button>
      </div>
    </form>
  </div>
</div>


<router-outlet></router-outlet>